rating{

    .rating-title{
        color: white;
        margin: auto;
        width: 71%;
    }

    
    .rating-container{
        display: inline-flex;
        color: color($colors,secondary);
        width: 250px;
        max-width: 80vw;
        height: 85px;
       
        .star{
            font-size: 30px;
             margin: auto;
          

        }
        .empty-star{
            color: color($colors,primary);
        }
        .full-star{
            color: color($colors,golden);

        }
      
    }
    .rating-confirm{
        margin-left: 18vw;
        width: 30vw;
    }

    
    
    
}
