page-landing {
.landing-scroll{
    white-space: nowrap;
    width: 100vw;
    display: inline-block;
    height: 99vh;
}
.landing-item{
    white-space: nowrap;
    display: inline-block;
    height: 100vh;
}

//start segment 1 css
.segment1-upper-container{
height: 30vh;
.side-container{
    display: table-cell;
    width: 49vw;
    height: 30vh;
    .text{
        background-color: color($colors,primary);
        color: color($colors,secondary);
        height: 30vh;
        font-family: "app-font";
        width: 50vw;
        font-size: 7.5vw;
        white-space: normal;
        padding: 11vh 1vw 5vh 4vw;
    }
    .images-wrapper {
        height: 30vh;
        .segment1-img-container{
        width: inherit;
        height: 50%;
        .segment1-image {
            height: 15vh;
            width: 50vw;
        }
        }
    }
   
}
}
.segment1-middle-container{
height: 40vh;
img{
    height: inherit;
    width: 100%;
}
}
.segment1-lower-container{
height: 30vh;
background-color: color($colors,dark);
.text{
    font-family: "app-font";
    white-space: normal;
    color: color($colors,secondary);
    
    padding: 6vh 10vw 10vw 10vw;
    
    font-size: 5vw;

}
}

// end segmant1 css

//start segmant2 css
.segment2-upper-container {
    height: 50vh;
    .image{
        height: 50vh;
        width: 100vw;
    }
}
.segment2-lower-container {
    height: 50vh;
    .side-container {
        display: table-cell;
        width: 50vw;
        height: 50vh;

        .text-container {
            height: 19vh;
            background-color: color($colors,primary);
            font-family: "app-font";
            font-size: 7.5vw;
            padding: 3rem 3rem 3rem 5rem;
            white-space: normal;
            font-weight: 800;
            color: color($colors,secondary);
        }
        .text-container2{
            height: 50vh;
            background-color: color($colors,dark);
            width: 50vw;
            font-size: 5vw;
            text-align: center;
            padding: 4rem;
            white-space: normal;
            color: color($colors,secondary);
        }
        .image-container {
            height: 31vh;
            .image{
                width : 50vw;
            }
        }
    }
}




.segment3-upper-container{
    height: 50vh;
    .side-container {
        display: table-cell;
        width: 50vw;
        height: 50vh;

        .text-container {
            height: 25vh;
            background-color: color($colors,primary);
            font-family: "app-font";
            font-size: 7vw;
            padding: 6vh 1vw 1vh 6vw;      
            white-space: normal;
            font-weight: 800;
            color: color($colors,secondary);
        }
        .text-container2{
            height: 26vh;
            background-color: color($colors,dark);
            width: 50vw;
            font-size: 5vw;
            padding: 7vh 3rem 0rem 4rem;
            white-space: normal;
            color: color($colors,secondary);
        }
        .image-container {
            height: 20vh;
        }

        .image{
            height:25vh ;
            width: 50vw;
        }
    }
   
}

.segment3-lower-container {
    height: 50vh;
    .image{
        height: 50vh;
        width: 100vw;
    }
}



.skip-button{
    width: 20%;
    margin: auto;
    border-radius: 30px;
    background-color: color($colors,primary);
    position: absolute;
    bottom: 3vh;
    right: 2vh;
    font-size: 4.5vw;
}
}
