<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084167454656-9c55gd98j61b560lqoth9lb3es1s07u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084167454656-9c55gd98j61b560lqoth9lb3es1s07u0</string>
	<key>API_KEY</key>
	<string>AIzaSyApBBGS7_M7N0sVQFgt18V8mruCxogqZ9w</string>
	<key>GCM_SENDER_ID</key>
	<string>1084167454656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edgeTechno.salons</string>
	<key>PROJECT_ID</key>
	<string>testnotification-2aeb8</string>
	<key>STORAGE_BUCKET</key>
	<string>testnotification-2aeb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084167454656:ios:0ca7f582621e4d0a</string>
	<key>DATABASE_URL</key>
	<string>https://testnotification-2aeb8.firebaseio.com</string>
</dict>
</plist>