page-tabs {
    .tab-button-icon{
        color: color($colors,secondary);
        font-size: 10vw !important; 
    }
    .tabs-ios .tab-button.icon-only {
        min-height: 41px;
        height: 9vh;
        background-color: color($colors,dark);
    }

    .tabs-md .tab-button.icon-only {
        min-height: 41px;
        height: 9vh;
        background-color: color($colors,dark);
    }
    .tab-badge{
        color:  color($colors, golden);
        background: transparent;
        border: 1px solid  color($colors, golden);
        box-shadow: 0 0 5px 0px  color($colors, golden);
    }
  
}
