<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon color="primary" name="ios-menu-outline"></ion-icon>
        </button>

        <ion-title>
            <img src="assets/imgs/logo.png">
        </ion-title>

    </ion-navbar>
</ion-header>


<ion-content padding class="bg-color">
    <div class="list-container" *ngIf="ready">
        <ion-scroll scrollY="true" class="list">
            <ion-card *ngFor="let item of category.children" (click)="appointment(item)" class="card">
                <figure>
                    <img [src]="item.images[0]">
                </figure>
                <div class="name">{{item.name}}</div>
            </ion-card>
        </ion-scroll>
    </div>
</ion-content>