page-services {
    ion-header {
        .bg-color{
            background-color: color($colors,dark);
        }
        .scroll-zoom-wrapper {
            padding: 0 12px;
            .menu-items {
                width: 130px;
                display: inline-block;
                position: relative;
                background: transparent;
                height: 74px;
                margin: 0 4px;
                box-shadow: none;
                border-radius: 5px;
                &:last-child {
                    margin-right: 16px;
                }
                .card-content {
                    padding-top: 48px;
                    font-size: 1.35rem;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: -1;
                    }
                }
            }
        }
      
        .toolbar-ios ion-title {
          position: relative;
      }
      
      }
      .header {
        .toolbar-background {
            background-color: color($colors,dark);
    
        }
                
        .logo-container{
            width: 30%;
            margin: 0px 0vw 0 28vw;
        }
      }
     
    .card {
        display: inline-grid;
        width: 35vw;
        height: 21vh;
        margin: 2rem;
        background-color: transparent;
        box-shadow: inherit;
        figure {
            margin: 0;
            border-radius: 50%;
            height: 16vh;
            
            background-color: #231f20;
            img {
        
            height: 16vh;
            border-radius: inherit;
            }
            }
        
        h3 {
            color: #fff;
            position: relative;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
        }
    }

    .list-container{
        padding-top: 4vh;
    }
}
