page-profile {
    .image-container {
        margin: 9vh 0 0 31vw;
        width: 13rem;
        height: 12rem;
        .profile-image {
            border-radius: 30rem;
            width: 13rem;
            height: 13rem;
        }
    }

    .info-container {
        height: 26vw;
        padding: 6vh 2vw 0 0vw;
        text-align: center;
        .name-container {
            font-size: 3rem;
            font-weight: 600;
            color: white;
        }
    }

    .footer-options{
        width: 70vw;
    margin: auto;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    }
  .options-container {
    margin: 0 10vw 0 10vw;
    
    background-color: white;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
        .option-item{
            text-align: center;
            height: 34%;
        }
    }
}
