page-profile {
    .header {
        .toolbar-title {
            padding-right: 14px !important;
            span {
                font-weight: 300;
                font-size: 1.5rem;
            }
        }
        background: rgba(199, 198, 176, 0.23);
        .toolbar-background {
            background: none;
        }
    }
    ion-card {
        &.card {
            border-radius: 10px;
            .card-content {
                padding: 1.6rem 2rem;
                .list {
                    border-bottom: 0;
                    margin-bottom: 2rem;
                }
                .item {
                    padding-left: 0;
                    &:last-child {
                        border-bottom: 0 ! important;
                        box-shadow: none ! important;
                    }
                    &.input-has-focus {
                        .label {
                            color: #ec008c;
                        }
                        .item-inner {
                            border-bottom: 1px solid #ec008c;
                            box-shadow: none ! important;
                        }
                    }
                    ion-avatar {
                        margin-right: 5px;
                    }
                    ion-icon {
                        font-size: 1.3em;
                    }
                    .label {
                        font-weight: 300;
                        font-size: 1.7rem;
                    }
                    .text-input {
                        margin-bottom: 10px;
                        margin-top: 0;
                        font-size: 1.5rem;
                    }
                    .item-inner {
                        border-bottom: 1px solid #ccc;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
