page-profile {
    .profile-container {
        width: 40vh;
        margin: auto;
        margin-top: 5vh;
    }

    .image-container {
        margin: auto;
        width: fit-content;

        .profile-image {
            border-radius: 30rem;
            height: 90px;
            width: 90px;
        }
    }

    .info-container {
        height: 26vw;
        padding: 3vh 0 0 0vw;
        text-align: center;

        .name-container {
            font-size: 18px;
            font-weight: 600;
            color: white;
            text-align: center;
        }
    }

    .selections {
        width: 80vw;
        margin: auto;
        // border-top-right-radius: 2rem;
        // border-top-left-radius: 2rem;
        border-radius: 15px;
        // height: 30vh;
        background-color: white !important;
        margin-top: 50px;
    }

    .options-container {
        margin: 0 10vw 0 10vw;
        height: 100%;
        background-color: white !important;
        // border-top-left-radius: 3rem;
        border-radius: 3rem;

        .option-item {
            text-align: center;
            height: 70px;
            background-color: white !important;
            font-size: 12px;

        }
    }

    .toolbar-content {
        height: inherit;
    }
}