page-home {
    .search-container{
        width: 85vw;
        margin: auto;
        margin-bottom: 3vh;
    }
    .slider{
        height: 19vh;
        width: 99%;
        margin: auto;
        .slide{

            height: 19vh;
            .slide-image{
                width:inherit;
                height: 19vh;
                border-radius: 25px;
            }
        }
    }
    ion-auto-complete {
        border-radius:30px;
        width: inherit;
        .searchbar-md{
            .searchbar-input{
                background-color: color($colors,primary);
                height: 5vh;
            }
            .searchbar-search-icon{
                top: 14px;
            }
        }
        .searchbar-ios{
            .searchbar-input{
                background-color: color($colors,primary);
                height: 5vh;
            }
            .searchbar-search-icon{
                top: 14px;
            }

        }
      }
      .list-container{
          height: 66vh;
          .scroll-content{
              padding: 0 !important;
          }
      }

      .segment-title{
        padding: 16px;
        font-size: 2rem;
        color: color($colors,primary);
      }

      // scroll categories
      .category-scroll{
            height: 21vh;
            white-space: nowrap;
            width: 92vw;
            margin: auto;
            .scroll-content{
                padding: 2px 0 0 2px !important;
            }
            .vertical-list {
                display: inline-block;
                width: 60vw;
                height: 19vh;
            }

            .category-list-container {
              
                width: 56vw;
                height: 19vh;
                .cate-list-item {
                    border-radius: 10px;
                    height: 19vh;
                    padding: 0;
                    box-shadow: 1px 1px 5px 0px;
                    .item-inner {
                        padding-right: 0;
                        .label-ios {
                             margin: 0;
                        }
                        .label-md {
                            margin: 0; 
                       }
                    }
                    .pic-box {
                        height: 12vh;
                        width: 56vw;
                        img{
                            height: inherit;
                            width: inherit;
                            border-radius: 20px;
                        }
                    }
                    .title {
                        height: 7vh;
                        padding: 1.4rem;
                        font-size: 1.9rem;
                        text-align: center;
                    }
                }
                
             
            }
      }
      //scroll product

     
        .horizontal-list {
            width: 96%;
            margin: auto;
            .horizontal-list-item{
                display: inline-block;
                width: 29vw;
                height: 16vh;

                .product-list-container {
                      width: 27vw;
                      height: 12vh;

                      .prod-list-item {
                        border-radius: 10px;
                        height: 12vh;
                        padding: 0;
                        .item-inner {
                            padding-right: 0;
                            .label-ios {
                                 margin: 0;
                            }
                            .label-md {
                                margin: 0; 
                           }
                        }
                        .pic-box {
                            height: 12vh;
                            width: 27vw;
                            img{
                                height: inherit;
                                width: inherit;
                            }
                        }
                        .title {
                            height: 7vh;
                            padding: 1.4rem;
                            font-size: 1.9rem;
                            text-align: center;
                        }
                    }
                }
            }
        }



//     .category-scroll{
//     height: 29.5vh;
//     white-space: nowrap;
//     width: 92vw;
//     margin: auto;


//     .vertical-list{
//         display: inline-block;
//         width: 30vw;
//         height: 13vh;
//         margin-right: 1vw;
  
        
//   .cate-list{
//       height: 70vh;
//     }
//     .cate-list-item{
//         background-color: transparent;
//         display: inline-block;
//         width: 29vw;
//         margin-right: 0.6rem;  
//         .pic-box{
//             height: 100%;
//             img{
//                 height: 7vh;
//             }
//         }
    
//       .label-md{
//         height: 100%;
    
//       }
     
//       }
//   }


    
//   .category-list-container{
//     width: 30vw;
   
//     // box-shadow: inset 0px 0px 2px 0px grey;
//     height: 10vh;
//     /* display: inline-block; */
//     border-radius: 6px;
//     margin-bottom: 4rem;
   
   
//   }
//     .title {
//       width: 100%;
//       /* overflow: hidden; */
//       font-family: 'Times New Roman' ;
//       white-space: nowrap;
//       /* text-overflow: ellipsis; */
//       /* padding-top: 1vh; */
//       /* padding-left: 3vw; */
//       /* padding-right: 3vw; */
//       color: #000000;
//       background-color: #f1ebeb;
//       font-size: 1.8rem;
//       text-align: center;
//       // border-top-right-radius: 12px;
//       // border-top-left-radius: 12px;
//     }
 
//   }

  
    .toolbar-ios ion-title {
        position: relative;
    }
    .header {
        .toolbar-background {
            background-color: color($colors,dark);

        }
                
        .logo-container{
            width: 30%;
            margin: 0px 0vw 0 28vw;
        }
        &::after {
            display: none;
        }
        .toolbar {
            padding-left: 0;
            padding-right: 0;
            .back-button {
                color: #fff;
            }
            .toolbar-title {
                color: #fff;
                padding: 0 16px;
            }
        }
        .title {
            margin-bottom: 20px;
        }
    }
    ion-header {
        .scroll-zoom-wrapper {
            padding: 0 12px;
            .menu-items {
                width: 130px;
                display: inline-block;
                position: relative;
                background: transparent;
                height: 74px;
                margin: 0 4px;
                box-shadow: none;
                border-radius: 5px;
                &:last-child {
                    margin-right: 16px;
                }
                .card-content {
                    padding-top: 48px;
                    font-size: 1.35rem;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: -1;
                    }
                }
            }
        }
    }
    h2 {
        font-weight: 400;
        font-size: 1.8rem;
        margin-top: 10px !important;
        margin-bottom: 20px;
    }
    .card {
        margin: 0;
        width: 100%;
        padding: 0;
        border: -r;
        border-radius: 9px;
        position: relative;
        height: 100px;
        margin-bottom: 16px;
        figure {
            margin: 0;
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        h3 {
            color: #444444;
            position: relative;
            font-size: 1.8rem;
            font-weight: 500;
            margin-top: 22px;
            margin-left: 22px;
            padding-bottom: 8px;
            &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 2px;
                display: block;
                background: #ec008c;
                bottom: 0;
                left: 0;
            }
        }
    }
    .vertical-scroll{
        height: 62vh;
    }
}
