<ion-header no-border>
    <ion-navbar>
        <!-- <button ion-button menuToggle end>
            <ion-icon color="primary" name="ios-menu"></ion-icon>
        </button> -->
        <ion-buttons left>
            <button ion-button menuToggle end>
                <ion-icon color="primary" name="ios-menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <img src="assets/imgs/logo.png">
        </ion-title>
        <ion-buttons right>
            <button (tap)="cart()" class="cart-button" ion-button icon-only>
                <ion-icon color="primary" class="header-icon" name="custom-cart-icon"></ion-icon>
            </button>
            <ion-badge *ngIf="cartProv.cartQuant > 0" class="cart-badge"><p>{{cartProv.cartQuant}}</p></ion-badge>
        </ion-buttons>

    </ion-navbar>
</ion-header>
<ion-content padding scrollY="false">
    <h4>Choose Category</h4>
    <div class="category-container">
        <ion-slides *ngIf="cates && cates.length" slidesPerView="1" pager="true" class="slider" #slides>
            <ion-slide class="slide" *ngFor="let item of cates" (tap)="toServices(item)">
                <img class="slide-image" [src]="item.images[0]">
                <button ion-button class="cate-button">{{item.name}} </button>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="icon-left" (tap)="slidePrev()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </div>
    <div class="icon-right" (tap)="slideNext()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
    </div>


    <!-- <button ion-button (tap)="popOver()">Test</button> -->
    <!-- <div class="ads-container">

        <div class="header-container">
            <div class="header">
            </div>
        </div>

        <div class="body-container">
            <div class="body">
            </div>
        </div>
    </div> -->

    <!-- <div class="marketPlace">
        <h3>Market Place</h3>

        <ion-scroll scrollX="true" scrollY="false" class="ScrollProds">
            <ion-card class="singleProd" (click)="goToProdDetails()">
                <div class="price">
                    <p>120 LE</p>
                </div>
                <img src="./assets/imgs/p1-1.png">
                <h5>Product Title</h5>
                <div class="detailsCont">
                    <p>Product Description</p>
                </div>
            </ion-card>
            <ion-card class="singleProd">
                <div class="price">
                    <p>130 LE</p>
                </div>
                <img src="./assets/imgs/p1-1.png">
                <h5>Product Title</h5>
                <div class="detailsCont">
                    <p>Product Description</p>
                </div>
            </ion-card>
        </ion-scroll>

    </div> -->
</ion-content>