<!-- <ion-nav [content]="content" [root]="rootPage"></ion-nav> -->

<ion-menu [content]="content" side="start" menuId="first" class="side-menu">
  <ion-content class="menu-container">
    <div class="logo-container">
      <!-- <img class="logo" src="assets/imgs/logo.png"> -->
    </div>
    <diV *ngIf="user">
      <div class="img-container"><img *ngIf="!hasimage()" class="user-img" src="assets/imgs/signup_female.png">
      <img *ngIf="hasimage()" class="user-img" [src]="user.image">
    </div>
      <div class="info-container">
        <div *ngIf="user.name" class="name-container">{{user.name}}</div>
        <div *ngIf="user.email" class="name-container">{{user.email}}</div>
      </div>
    </diV>
    <ion-list class="menu-list">
      <ion-item class="menu-item" (click)="toPage('2')">Home</ion-item>
      <ion-item class="menu-item" (click)="toPage('3')">About us</ion-item>
      <!-- <ion-item class="menu-item" (tap)="toPage('4')">Terms and conditions</ion-item> -->
      <ion-item class="menu-item" (click)="toPage('1')">Report a problem</ion-item>
      <ion-item class="menu-item" (click)="toPage('4')">Contact us</ion-item>
      <!-- <ion-item class="menu-item">Rate this app</ion-item> -->
      <ion-item class="menu-item" (click)="logOut()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>