<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="ios-menu-outline"></ion-icon>
    </button>

    <ion-title>
      <img src="assets/imgs/logo.png">
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="bg-color" no-padding>
  <div *ngIf="ready">
    <div>
      <ion-segment class="segmentConainer" mode="md" [(ngModel)]="tab">
        <ion-segment-button class="segmentButton" value="new">
          New Address
        </ion-segment-button>
        <ion-segment-button disabled="true" class="segmentButton" value="payment">
          Payment
        </ion-segment-button>
      </ion-segment>
    </div>
    <div *ngIf="tab == 'new'">
      <div class="newAddress-container">
        <h4>Select government</h4>
        <ion-item class="government-container">
          <ion-label>Select government</ion-label>
          <ion-select placeholder="Government" [(ngModel)]="selectedGovernment">
            <ion-option *ngFor="let item of governments" [value]="item">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
        <h4>Select area</h4>
        <ion-item class="government-container">
          <ion-label>Select area</ion-label>
          <ion-select placeholder="Area" [(ngModel)]="selectedArea">
            <ion-option *ngFor="let item of selectedGovernment.areas" [value]="item">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
        <h4>Address extra info</h4>
        <div class="full-address-container">
          <ion-textarea type="text" class="full-address" placeholder="Address extra info.." [(ngModel)]="address"
            (tap)="getLocation()">
            <ion-icon name="ios-pin"></ion-icon>
          </ion-textarea>
        </div>
      </div>
      <div *ngIf="tab == 'new' " class="button-container">
        <button ion-button class="confirm-button" (tap)="addAddress()">CONFIRM LOCATION</button>
      </div>
    </div>
    <div *ngIf="tab == 'payment'">
      <diV class="payment-container">
        <p class="hint">*We are not responsible for any belongings in the houses and so..</p>
        <div class="payment-text">SELECT A PAYMENT METHOD</div>
        <div class="button-container">
          <div [class]="paymentMethodClass" class="selectDiv" (tap)="choosePaymentMithod('cash')">
            <p>Cash</p>
          </div>
          <div (tap)="choosePaymentMithod('credit')" class="selectDiv">
            <p>Credit</p>
          </div>
        </div>
      </diV>

      <div *ngIf="orderReady && tab == 'payment'" class="button-container">
        <button ion-button class="confirm-button" (tap)="order()">Order Now</button>
      </div>
    </div>


  </div>



</ion-content>
<!-- <ion-footer> -->
<!-- <ion-navbar> -->

<!-- <div *ngIf="tab == 'new' " class="button-container">
    <button class="confirm-button" ion-button (tap)="addAddress()">CONFIRM LOCATION</button>
  </div>
  <div *ngIf="orderReady && tab == 'payment'" class="button-container">
    <button ionbutton class="confirm-button" (tap)="order()">Order Now</button>
  </div> -->
<!-- </ion-navbar> -->
<!-- </ion-footer> -->