<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="primary" name="ios-menu-outline"></ion-icon>
    </button>

    <ion-title>
      <img src="assets/imgs/logo.png">
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="bg-color" padding>
  <div *ngIf="ready">
    <div>
      <ion-segment class="segmentConainer" mode="md" [(ngModel)]="tab">
        <ion-segment-button class="segmentButton" value="new">
          New Address
        </ion-segment-button>
        <ion-segment-button class="segmentButton" value="payment">
          Payment
        </ion-segment-button>
      </ion-segment>
    </div>
    <div *ngIf="tab == 'new'">
      <div class="newAddress-container">
        <div class="full-address-container">
          <ion-input type="text" class="full-address" placeholder="TYPE HERE" [(ngModel)]="address">
            <ion-icon name="ios-pin"></ion-icon>
          </ion-input>
        </div>
        <ion-item class="government-container">
          <ion-select placeholder="Government" [(ngModel)]="selectedGovernment">
            <ion-option *ngFor="let item of governments" [value]="item">{{item.name}}</ion-option>

          </ion-select>
        </ion-item>
        <ion-item class="government-container">
          <ion-select placeholder="Area" [(ngModel)]="selectedArea">
            <ion-option *ngFor="let item of selectedGovernment.areas" [value]="item">{{item.name}}</ion-option>

          </ion-select>
        </ion-item>

      </div>
    </div>
    <div *ngIf="tab == 'payment'">
      <diV class="payment-container">
        <div class="payment-text">SELECT A PAYMENT METHOD</div>
        <div class="button-container">
          <div [class]="paymentMethodClass" (tap)="choosePaymentMithod()">Cash</div>
        </div>
      </diV>


    </div>


  </div>
</ion-content>
<ion-footer>
  <ion-navbar>

    <div *ngIf="tab == 'new' " class="button-container">
      <button class="confirm-button" ion-button (tap)="addAddress()">CONFIRM LOCATION</button>
    </div>
    <div *ngIf="orderReady && tab == 'payment'" class="button-container">
      <button ionbutton class="confirm-button" (tap)="order()">Order</button>
    </div>
  </ion-navbar>
</ion-footer>