page-checkout {
    .segment-md .segment-button {
        color: color($colors, dark);
    }

    .segment-md .segment-button.segment-activated {
        color: color($colors, primary);
    }

    .bg-color {
        background-color: color($colors, secondary);
    }

    .item {
        padding-left: 0px;
    }

    .item-inner {
        border-bottom: 0px !important;
        padding-right: 0px;
    }

    .segmentContainer {
        height: 8vh;

        .segmentButton {
            font-size: 2rem;
        }
    }

    h4 {
        text-align: left;
        margin-left: 10px;
        margin-bottom: 35px;
    }

    ion-select {
        max-width: 100%;
        width: 100%;

        .select-icon {
            .select-icon-inner {
                margin-top: 0px !important;
            }
        }

        .select-text {
            text-align: left;
            margin-left: -15px;
        }
    }

    .selectDiv {
        font-size: 2rem;
        background-color: white;
        height: 60px;
        padding: 15px;
        font-weight: 700;
        width: 95%;
        border-radius: 20px;
        margin: auto;
        margin-top: 15px;

        p {
            margin: 3px;
        }
    }

    .newAddress-container {
        // height: 55vh;

        .full-address-container {
            margin: auto;
            // margin-top: 7vh;
            width: 95%;
            // height: 6vh;
            height: 100px;

            .full-address {
                width: 100%;
                // height: 15vh;
                border-radius: 10px;
                // padding: 0 0 0 4rem;
                background-color: white;
                height: 100px;

                ::placeholder {
                    text-align: center !important;
                    padding-top: 20px
                }
            }

        }

        textarea {
            max-width: 100%;
            width: 100%;
            height: 100px;
            text-align: center !important;
            padding: 10px;
        }



        .government-container {
            height: 40px;
            border-radius: 15px;
            width: 95%;
            display: block;
            margin: auto;
            min-height: 45px;
        }


    }

    .button-container {
        margin: auto;

        width: 66vw;
        margin-top: 7vh !important;
        margin-bottom: 30px;

        .confirm-button {
            border-radius: 5rem;
            margin: auto;
            display: block;
            width: 50vw;
            height: 40px;
            color: #f1efee;
            background-color: #231f20 !important;
            font-size: 1.3rem;
            // margin-top: 80px;
            margin-bottom: 30px;
        }
    }

    .payment-container {
        .payment-text {
            margin: auto;
            margin-top: 5vh;
            font-size: 1.7rem;
            font-weight: 700;
            margin-left: 10px;
        }

        .button-container {
            // width: 100vw;
            margin-top: 16vh;

            .payment-method {
                font-size: 2rem;
                font-size: 2rem;
                background-color: white;
                height: 60px;
                padding: 15px;
                font-weight: 700;
                width: 95%;
                border-radius: 20px;
                margin: auto;
                margin-top: 15px;

                p {
                    margin: 3px !important;
                }

            }

            .payment-method-active {
                border: solid thin color($colors, golden);
                font-size: 2rem;
                background-color: white;
                height: 60px;
                padding: 15px;
                font-weight: 700;
                width: 95%;
                border-radius: 20px;
                margin: auto;
                margin-top: 15px;

                p {
                    margin: 3px;
                }
            }
        }


    }

    ion-footer {
        bottom: 25px;
    }

    .order-button-container {
        margin: 30vh 0 0 19vw;

        .order-button {
            border-radius: 4rem;
            font-size: 1.5rem;
            width: 54vw;
            height: 3.9vh;
            color: color($colors, secondary);
            background-color: color($colors, light) !important;

        }
    }

    .footer-md::before,
    .footer-ios::before {
        background-image: none !important;

    }


}