page-notifications {

    .content {
        background-image: url(../assets/imgs/bg.png) !important;
        background-repeat: round;

        .notifyCard {
            background-color: color($colors, light, base);
            border-radius: 20px;
            display: flex;
            margin: 4px 10px 10px 10px;

            .icon {
                margin: 10px !important;
                font-size: 23px;
                margin-top: 6px !important;

                @include ltr {
                    text-align: left !important;
                }

                @include rtl {
                    text-align: right !important;
                }
            }
            .info{
                color: color($colors, primary);
                display: block;
                margin-left: 10px;
                .header-container {
                   
                    margin-top: 10px;
                }
                .text-container {
                    margin-bottom: 5px;
                }
            }
           

            p {
                margin-top: 11px;
                color: color($colors, primary, base) !important;
            }
        }
        .date-container{
            color: color($colors, primary);
            margin: 6px 0 0 10px;
        }
        
        
     

    }
}