page-wallet {
    .balance-card{
        background-color: transparent;
    box-shadow: 0 0 0 0;
        .balance-header{
            padding-top: 2px;
    padding-bottom: 2px;
    background-color: transparent;
    /* color: white; */
            .balance-title{
                text-align: center;
                padding: 0;
                .balance-icon{
                    font-size: 52px;
                    color: color($colors,golden);
                }
                .balance-text{
                    color: color($colors,primary);
                    font-size: 16px;
                }
            }
        }
    }


    .wallet-balance{
        text-align: center;
        .text-input{
            text-align: center;
            color: color($colors,primary);;
            font-size: 40px;
        }
    }
}
